# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.MagicCarpet.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\projects\Unity\MagicCarpet\.idea\.idea.MagicCarpet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
